# Binaries for programs and plugins
hanrangon
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
var/

# old reference
Nogag
config.toml
Text-Xatena
xatena-go

# Claude Code
.claude/

# Node modules
postprocess/node_modules/

# Development / Testing
MathJax-demos-node/
MathJax/
todo.md
static/**/*.gz
static/**/*.br
static/images/entry
var/cache/


tmp/
*.prof
scripts/node_modules
