# Hanrangon Configuration Sample

data_db_path = "var/db/data.db"
images_db_path = "var/db/images.db"
tfidf_db_path = "var/db/tfidf.db"
worker_db_path = "var/db/worker.db"
static_dir = "static"
upload_dir = "static/images/entry"

# Authentication
username = "admin"
password = "changeme"
session_secret = "your-random-secret-here"
