{{$entries := .Entries}}
{{$isAuth := .IsAuth}}
{{$isDetail := .IsDetail}}
{{$ids := list}}
{{range $entries}}
	{{$ids = append $ids (printf "id=%d" .ID)}}
{{end}}
{{$similarURL := printf "/api/similar?%s" (join "&" $ids)}}
<link rel="preload" id="preload-similar-entries" href="{{$similarURL}}" as="fetch" crossorigin="anonymous"/>
<div class="entries">
	{{range $i, $e := $entries}}
		{{if or (eq $i 0) (not (isSameDay (index $entries (sub $i 1)).Date $e.Date))}}
			<div class="date"><a href="{{datePath $e.Date}}">{{formatDate $e.Date}}</a></div>
		{{end}}
		{{template "article" dict "Entry" $e "IsAuth" $isAuth "IsPermalink" $isDetail "IsFirst" (eq $i 0) "Trackbacks" $.Trackbacks "BaseURL" $.BaseURL}}
	{{end}}
</div>

<div class="pager">
	{{if .IsDetail}}
		{{/* Entry detail navigation */}}
		{{if .Prev}}
			<a href="/{{.Prev.Path}}" rel="next" class="prev">
				<span class="label">OLDER</span>
				<span class="title">{{.Prev.DisplayTitle}}</span>
			</a>
		{{end}}
		{{if .Next}}
			<a href="/{{.Next.Path}}" rel="prev" class="next">
				<span class="label">NEWER</span>
				<span class="title">{{.Next.DisplayTitle}}</span>
			</a>
		{{end}}
	{{else}}
		{{/* Index pagination */}}
		{{if .NextPage}}
			<a href="{{.NextPage}}" rel="next">&#x25BC; もっと古いエントリ</a>
		{{end}}
	{{end}}
</div>

{{define "article"}}
{{$cleanTitle := .Entry.DisplayTitle}}
{{$tags := .Entry.Tags}}
{{$canonical := printf "%s/%s" .BaseURL .Entry.Path}}
<article
	id="post-{{.Entry.CreatedAt.Unix}}"
	class="{{range $tags}}{{.}} {{end}}{{if .IsFirst}}first {{end}}status-{{.Entry.Status}}"
	data-id="{{.Entry.ID}}"
	{{if not .IsPermalink}}
	itemprop="blogPosts"
	itemscope
	itemtype="http://schema.org/BlogPosting"
	{{end}}
>
	<header>
		<h2 itemprop="name"><a href="{{$canonical}}" class="bookmark" rel="bookmark" itemprop="url"><budoux-ja>{{$cleanTitle}}</budoux-ja></a></h2>
		<div class="metadata">
			{{$baseURL := .BaseURL}}
			{{range $tags}}
				<a href="{{$baseURL}}/{{.}}/"><span itemprop="keywords">{{.}}</span></a>
			{{end}}
			|
			<time datetime="{{.Entry.CreatedAt.UTC.Format "2006-01-02T15:04:05Z"}}" itemprop="datePublished">
				<relative-time epoch="{{.Entry.CreatedAt.Unix}}">{{.Entry.CreatedAt.Format "15:04"}}</relative-time>
			</time>

			{{if eq .Entry.Status "scheduled"}}
				| {{if .Entry.PublishAt.Valid}}<time datetime="{{.Entry.PublishAt.Time.UTC.Format "2006-01-02T15:04:05Z"}}"><relative-time epoch="{{.Entry.PublishAt.Time.Unix}}">{{.Entry.PublishAt.Time.Format "2006-01-02 15:04"}}</relative-time></time>{{else}}未来{{end}}に公開
			{{end}}

			{{if .IsAuth}}
				| <a href="javascript:void(0)" class="nogag-edit">編集</a>
			{{end}}

			<div style="display: none">
				<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{$canonical}}">
				<span itemprop="headline">{{summary .Entry.FormattedBody 100}}</span>

				<span itemprop="author" itemscope itemtype="https://schema.org/Person">
					<a href="http://www.lowreal.net/" itemprop="url">
						<span itemprop="name">cho45</span>
					</a>
				</span>

				<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
					<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
						<meta itemprop="url" content="https://www.lowreal.net/images/logo.png">
						<meta itemprop="width" content="189">
						<meta itemprop="height" content="105">
					</div>
					<meta itemprop="name" content="cho45">
				</div>

				<meta itemprop="datePublished" content="{{.Entry.CreatedAt.UTC.Format "2006-01-02T15:04:05Z"}}">
				<meta itemprop="dateModified" content="{{.Entry.ModifiedAt.UTC.Format "2006-01-02T15:04:05Z"}}">

				<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="https://www.lowreal.net/images/logo.png">
					<meta itemprop="width" content="189">
					<meta itemprop="height" content="105">
				</div>
			</div>
		</div>
	</header>

	<div class="content" itemprop="articleBody">
		{{.Entry.FormattedBody | safeHTML}}

		{{$baseURL := .BaseURL}}
		{{range $tags}}
		<ol itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{$baseURL}}/"><span itemprop="name">トップ</span></a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{$baseURL}}/{{.}}/"><span itemprop="name">{{.}}</span></a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{$canonical}}"><span itemprop="name">{{$cleanTitle}}</span></a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
		{{end}}
	</div>

	{{if .Trackbacks}}
	<div class="content trackbacks">
		<h3>このエントリを参照するエントリ</h3>
		{{range .Trackbacks}}
		<ul>
			<li data-id="{{.ID}}">
				<a href="/{{.Path}}">
					<b>{{.DisplayTitle}}</b><br>
					<span class="summary">{{summary .Body 140}}</span>

					<time datetime="{{.CreatedAt.UTC.Format "2006-01-02T15:04:05Z"}}" itemprop="datePublished">
						<relative-time epoch="{{.CreatedAt.Unix}}">{{.CreatedAt.Format "15:04"}}</relative-time>
					</time>
				</a>
			</li>
		</ul>
		{{end}}
	</div>
	{{end}}

	<div class="content similar-entries"></div>

	<div class="social">
		<p class="share-buttons">
			<a class="share-button" style="background: #3b5998" target="_blank" rel="noopener nofollow"
				href="https://www.facebook.com/sharer/sharer.php?u={{$canonical}}"
			>
				<img src="/images/sharebuttons/FB-f-Logo__white_50.png" width="18" height="18" alt="Facebook"/>
			</a>
			<a class="share-button" style="background: #efefef" target="_blank" rel="noopener nofollow"
				href="https://bsky.app/intent/compose?text={{$cleanTitle}} {{$canonical}}"
			>
				<img src="/images/bluesky_media_kit_logo_svgs.svg" width="40" height="40" alt="Bluesky"/>
			</a>
			<a class="share-button" style="background: #00a4de" target="_blank" rel="noopener nofollow"
				href="http://b.hatena.ne.jp/add?url={{$canonical}}"
			>
				<img src="/images/sharebuttons/hatenabookmark-logomark.svg" width="40" height="40" alt="はてなブックマーク"/>
			</a>
		</p>
	</div>
</article>
{{end}}
