{{define "head"}}
{{if .IsDetail}}
	{{$entry := index .Entries 0}}
	<meta property="article:published_time" content="{{$entry.CreatedAtRFC3339}}"/>
	<meta property="article:modified_time" content="{{$entry.ModifiedAtRFC3339}}"/>
	{{range $entry.Tags}}<meta property="article:tag" content="{{.}}"/>{{end}}
	{{if .Older}}<link rel="next" href="{{.BaseURL}}/{{.Older.Path}}"/>{{end}}
	{{if .Newer}}<link rel="prev" href="{{.BaseURL}}/{{.Newer.Path}}"/>{{end}}
{{end}}
{{end}}

{{$entries := .Entries}}
{{$isAuth := .IsAuth}}
{{$isDetail := .IsDetail}}
{{$similarURL := similarURL $entries}}
<link rel="preload" id="preload-similar-entries" href="{{$similarURL}}" as="fetch" crossorigin="anonymous"/>
<div class="entries">
	{{range $i, $e := $entries}}
		{{if isDateBoundary $i $entries}}
			<div class="date"><a href="{{$e.DatePath}}">{{$e.FormattedDate}}</a></div>
		{{end}}

		{{/* Article */}}
		{{$canonical := (print $.BaseURL "/" $e.Path)}}
		<article
			id="post-{{$e.CreatedAt.Unix}}"
			class="{{range $e.Tags}}{{.}} {{end}}{{if eq $i 0}}first {{end}}status-{{$e.Status}}"
			data-id="{{$e.ID}}"
			{{if not $isDetail}}
			itemprop="blogPosts"
			itemscope
			itemtype="http://schema.org/BlogPosting"
			{{end}}
		>
			<header>
				<h2 itemprop="name"><a href="{{$canonical}}" class="bookmark" rel="bookmark" itemprop="url"><budoux-ja>{{$e.DisplayTitle}}</budoux-ja></a></h2>
				<div class="metadata">
					{{$baseURL := $.BaseURL}}
					<span class="tags">
						{{range $e.Tags}}
							<a href="{{$baseURL}}/{{.}}/"><span itemprop="keywords">{{.}}</span></a>
						{{end}}
					</span>

					<time datetime="{{$e.CreatedAtRFC3339}}" itemprop="datePublished">
						<relative-time epoch="{{$e.CreatedAt.Unix}}">{{$e.DisplayTime}}</relative-time>
					</time>

					{{if eq $e.Status "scheduled"}}
						<span class="status">
							{{if $e.PublishAt.Valid}}<time datetime="{{$e.PublishAt.Time.UTC.Format "2006-01-02T15:04:05Z"}}"><relative-time epoch="{{$e.PublishAt.Time.Unix}}">{{$e.PublishAt.Time.Format "2006-01-02 15:04"}}</relative-time></time>{{else}}未来{{end}}に公開
						</span>
					{{end}}

					{{if $isAuth}}
						<a href="/admin/edit?id={{$e.ID}}" class="nogag-edit">編集</a>
					{{end}}

					<div style="display: none">
						<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{$canonical}}">
						<span itemprop="headline">{{$e.DisplayTitle}}</span>
						<span itemprop="description">{{$e.Summary}}</span>

						<span itemprop="author" itemscope itemtype="https://schema.org/Person">
							<a href="http://www.lowreal.net/" itemprop="url">
								<span itemprop="name">cho45</span>
							</a>
						</span>

						<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
							<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
								<meta itemprop="url" content="https://www.lowreal.net/images/logo.png">
								<meta itemprop="width" content="189">
								<meta itemprop="height" content="105">
							</div>
							<meta itemprop="name" content="cho45">
						</div>

						<meta itemprop="datePublished" content="{{$e.CreatedAtRFC3339}}">
						<meta itemprop="dateModified" content="{{$e.ModifiedAtRFC3339}}">

						<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
							<meta itemprop="url" content="https://www.lowreal.net/images/logo.png">
							<meta itemprop="width" content="189">
							<meta itemprop="height" content="105">
						</div>
					</div>
				</div>
			</header>

			<div class="content" itemprop="articleBody">
				{{$e.FormattedBodyHTML}}

				{{$baseURL := $.BaseURL}}
				{{range $e.Tags}}
				<ol itemscope itemtype="http://schema.org/BreadcrumbList">
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemprop="item" href="{{$baseURL}}/"><span itemprop="name">トップ</span></a>
						<meta itemprop="position" content="1">
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemprop="item" href="{{$baseURL}}/{{.}}/"><span itemprop="name">{{.}}</span></a>
						<meta itemprop="position" content="2">
					</li>
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemprop="item" href="{{$canonical}}"><span itemprop="name">{{$e.DisplayTitle}}</span></a>
						<meta itemprop="position" content="3">
					</li>
				</ol>
				{{end}}
			</div>

			{{if $.Trackbacks}}
			<div class="content trackbacks">
				<h3>このエントリを参照するエントリ</h3>
				{{range $.Trackbacks}}
				<ul>
					<li data-id="{{.ID}}">
						<a href="/{{.Path}}">
							<em>{{.DisplayTitle}}</em><br>
							<span class="summary">{{.Summary}}</span>

							<time datetime="{{.CreatedAtRFC3339}}" itemprop="datePublished">
								<relative-time epoch="{{.CreatedAt.Unix}}">{{.DisplayTime}}</relative-time>
							</time>
						</a>
					</li>
				</ul>
				{{end}}
			</div>
			{{end}}

			<div class="content similar-entries"></div>

			<div class="social">
				<p class="share-buttons">
					<a class="share-button" style="background: #3b5998" target="_blank" rel="noopener nofollow"
						href="https://www.facebook.com/sharer/sharer.php?u={{$canonical}}"
					>
						<img src="/images/sharebuttons/FB-f-Logo__white_50.png" width="18" height="18" alt="Facebook"/>
					</a>
					<a class="share-button" style="background: #efefef" target="_blank" rel="noopener nofollow"
						href="https://bsky.app/intent/compose?text={{$e.DisplayTitle}} {{$canonical}}"
					>
						<img src="/images/bluesky_media_kit_logo_svgs.svg" width="40" height="40" alt="Bluesky"/>
					</a>
					<a class="share-button" style="background: #00a4de" target="_blank" rel="noopener nofollow"
						href="http://b.hatena.ne.jp/add?url={{$canonical}}"
					>
						<img src="/images/sharebuttons/hatenabookmark-logomark.svg" width="40" height="40" alt="はてなブックマーク"/>
					</a>
				</p>
			</div>
		</article>
	{{end}}
</div>

<nav class="pager" aria-label="ページ送り">
	{{if .IsDetail}}
		{{/* Entry detail navigation */}}
		{{if .Older}}
			<a href="/{{.Older.Path}}" rel="next" class="prev">
				<span class="label">OLDER</span>
				<span class="title">{{.Older.DisplayTitle}}</span>
			</a>
		{{end}}
		{{if .Newer}}
			<a href="/{{.Newer.Path}}" rel="prev" class="next">
				<span class="label">NEWER</span>
				<span class="title">{{.Newer.DisplayTitle}}</span>
			</a>
		{{end}}
	{{else}}
		{{/* Index pagination */}}
		{{if .OlderPage}}
			<a href="{{.OlderPage}}" rel="next">&#x25BC; もっと古いエントリ</a>
		{{end}}
	{{end}}
</nav>
