{{define "feed"}}<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>氾濫原</title>
	<link href="https://lowreal.net/"/>
	<link rel="self" type="application/atom+xml" href="https://lowreal.net/feed"/>
	<updated>{{.Updated}}</updated>
	<author>
		<name>cho45</name>
	</author>
	<id>tag:lowreal.net,2005:feed</id>
	{{range .Entries}}
	<entry>
		<title>{{.Title}}</title>
		<link href="https://lowreal.net/{{.Path}}"/>
		<id>tag:lowreal.net,2005:entry:{{.ID}}</id>
		<updated>{{.ModifiedAt.Format "2006-01-02T15:04:05Z07:00"}}</updated>
		<published>{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}</published>
		<content type="html">
			{{.FormattedBody}}
		</content>
	</entry>
	{{end}}
</feed>
{{end}}
