---
links = [
  { url = "/css/style.css", rel = "preload", as = "style" },
  { url = "/css/github.css", rel = "preload", as = "style" },
  { url = "/images/hanrangen.svg", rel = "preload", as = "image" },
  { url = "/js/budoux-ja.min.js", rel = "preload", as = "script" },
  { url = "/js/nogag.js", rel = "modulepreload" },
  { url = "/js/daterelative.js", rel = "modulepreload" },
  { url = "https://fonts.googleapis.com", rel = "preconnect", crossorigin = true },
  { url = "https://fonts.gstatic.com", rel = "preconnect", crossorigin = true }
]
---
<!DOCTYPE html>
<html lang="ja" data-auth="{{if .IsAuth}}true{{else}}false{{end}}">
<head>
	<meta charset="utf-8"/>

	<title>{{if .PageTitle}}{{.PageTitle}} - {{end}}氾濫原</title>
	<meta name="description" content="写真・文章による、ある普通の人間の人生の記録"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
	<meta name="theme-color" content="#000000"/>

	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin=""/>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>

	<link rel="alternate" type="application/atom+xml" title="Feed" href="/feed"/>

	<meta name="referrer" content="unsafe-url"/>

	<meta itemprop="name" content="氾濫原"/>
	<meta itemprop="description" content="写真・文章による、ある普通の人間の人生の記録"/>

	<meta property="og:title" content="氾濫原"/>
	<meta property="og:type" content="blog"/>
	<meta property="og:url" content="/"/>
	<meta property="og:email" content="cho45@lowreal.net"/>
	<meta property="fb:admins" content="cho45"/>

	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="stylesheet" href="/css/github.css"/>

	<script src="/js/budoux-ja.min.js" defer></script>
	<script type="module" src="/js/nogag.js"></script>
</head>
<body>
	<header id="global-header">
		<h1 id="header">
			<a href="/">
				<img src="/images/hanrangen.svg" width="60" height="50" style="margin: auto; display: block" alt="氾濫原"/>
			</a>
		</h1>
	</header>

	<nav id="global-navigation">
		<ul>
			<li><a href="/">最新</a></li>
			<li><a href="/photo/">写真</a></li>
			<li><a href="https://www.lowreal.net/">誰？</a></li>
			{{if .IsAuth}}
				<li><a href="#" class="nogag-new">新規</a></li>
				<li><a href="/admin/">管理画面</a></li>
			{{end}}
		</ul>
	</nav>

	<div id="content">
		{{template "content" .}}
	</div>

	<footer id="global-footer">
		<h2>書いている人</h2>
		<div class="author">
			<div class="image">
				<img src="/images/profile.jpg" alt="Photo" width="160" height="160"/>
			</div>
			<div class="desc">
				<p>
					cho45 (<a href="https://www.lowreal.net/" rel="author">www.lowreal.net</a>)
					&lt;<a href="mailto:cho45@lowreal.net">cho45@lowreal.net</a>&gt;
				</p>
				<p>
					JavaScript, Perl, Ruby, HTML, CSS, Web etc
				</p>
				<p>
					<a class="button github-button" href="https://github.com/cho45" rel="nofollow"><i></i>
						<span class="label">
							Follow <b>&#64;cho45</b>
						</span>
					</a>
				</p>
				<p>
					<a href="/archive">アーカイブ</a>
				</p>
			</div>
		</div>
	</footer>
</body>
</html>