package view

import (
	"fmt"
	"time"
	"github.com/cho45/hanrangon/model"
)

templ Sitemap(entries []model.ListAllEntriesForSitemapRow) {
	@templ.Raw(`<?xml version="1.0" encoding="UTF-8"?>`)
	<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		<url>
			<loc>https://lowreal.net/</loc>
			<changefreq>daily</changefreq>
			<priority>1.0</priority>
		</url>
		<url>
			<loc>https://lowreal.net/archive</loc>
			<changefreq>daily</changefreq>
			<priority>0.6</priority>
		</url>
		<url>
			<loc>https://lowreal.net/photo/</loc>
			<changefreq>daily</changefreq>
			<priority>0.6</priority>
		</url>
		for _, e := range entries {
			<url>
				<loc>{ fmt.Sprintf("https://lowreal.net/%s", e.Path) }</loc>
				<lastmod>{ e.ModifiedAt.Format(time.RFC3339) }</lastmod>
			</url>
		}
	</urlset>
}
